@charset "UTF-8";

/* This CSS file contains all stylings that are applicable to index.css */

#solar-realworld {
    padding: 56px 0;
}

#solar-realworld img {
    height: 100px;
    width: auto;
    margin-bottom: 20px;
}

.solar-counter {
    padding-top: 56px;
}

#solar-race {
    padding-top: 0;
}

#solar-race img {
    width: 30%;
    height: auto;
    padding: auto;
    float: right;
}

#solar-race iframe {
    /* width: 40%; */
    /* height: auto; */
    /* float: left; */
}

#solar-race p {
    /* float: right; */
}